.dresscodePage{
  padding-top: 90px;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
  color: white;
  @media(max-width: 991px){
    padding-top: 70px;
  }
  .content {
    padding-top: 30px;
  }
}